<h1>{{ config.site_name }}</h1>
<p>{{ config.site_description }}</p>

{% if config.extra.repo_name == 'dotkernel/api' %}
    <h2>Installation</h2>
    <h3>Using Git</h3>
    <pre class="highlight line-numbers">
        <i class="bi bi-copy copy_btn" onclick="copy(this)"></i>
        <code class="language-bash">git clone https://github.com/dotkernel/api.git dotkernel-api</code>
    </pre>
{% elif config.extra.repo_name == 'dotkernel/development' %}
    <h2>Installation</h2>
    <h3>Using Git</h3>
    <pre class="highlight line-numbers">
        <i class="bi bi-copy copy_btn" onclick="copy(this)"></i>
        <code class="language-bash">git clone https://github.com/dotkernel/development.git dotkernel-development</code>
    </pre>
{% else %}
    <h2>Installation</h2>
    <h3>Using Composer</h3>
    <pre class="highlight line-numbers">
        <i class="bi bi-copy copy_btn" onclick="copy(this)"></i>
        <code class="language-bash">composer require {% if config.extra.installation and config.extra.installation.composer_dev %}--dev {% endif %}{{ config.extra.repo_name }}</code>
    </pre>
{% endif %}

<h2>Support</h2>
<ul>
    <li>Issues: <a href="{{ config.repo_url }}/issues">{{ config.repo_url|replace('https://', '') }}/issues</a></li>
    <li>Source: <a href="{{ config.repo_url }}">{{ config.repo_url|replace('https://', '') }}</a></li>
</ul>
