{% if config.extra.repo_name == 'dotkernel/api' %}
    {% include "pages/homepage/api.html" %}
{% elif config.extra.repo_name == 'dotkernel/admin' %}
    {% include "pages/homepage/admin.html" %}
{% elif config.extra.repo_name == 'dotkernel/frontend' %}
    {% include "pages/homepage/frontend.html" %}
{% elif config.extra.repo_name == 'dotkernel/light' %}
    {% include "pages/homepage/light.html" %}
{% elif config.extra.repo_name == 'dotkernel/development' %}
    {% include "pages/homepage/development.html" %}
{% else %}
    <h1>{{ config.site_name }}</h1>
    <p>{{ config.site_description }}</p>
    <h2>Installation</h2>
    <h3>Using Composer</h3>
    <pre class="highlight line-numbers">
        <i class="bi bi-copy copy_btn" onclick="copy(this)"></i>
        <code class="language-bash">composer require {% if config.extra.installation and config.extra.installation.composer_dev %}--dev {% endif %}{{ config.extra.repo_name }}</code>
    </pre>
{% endif %}

<h2>Support</h2>
<ul>
    <li>Discussions: <a href="{{ config.extra.dotkernel_discussions_url }}" target="_blank">{{ config.extra.dotkernel_discussions_url }}</a></li>
    <li>Issues: <a href="{{ config.repo_url }}/issues" target="_blank">{{ config.repo_url|replace('https://', '') }}/issues</a></li>
    <li>Source: <a href="{{ config.repo_url }}" target="_blank">{{ config.repo_url|replace('https://', '') }}</a></li>
</ul>
