<footer class="dk-home-footer">
    <div class="dk-home-footer__grid">
        <div class="dk-home-footer__col">
            <div class="dk-home-footer__label">Products</div>
            <a href="https://docs.dotkernel.org/api-documentation/">API</a>
            <a href="https://docs.dotkernel.org/admin-documentation/">Admin</a>
            <a href="https://docs.dotkernel.org/queue-documentation/">Queue</a>
            <a href="https://docs.dotkernel.org/light-documentation/">Light</a>
        </div>
        <div class="dk-home-footer__col">
            <div class="dk-home-footer__label">Resources</div>
            <a href="https://docs.dotkernel.org/dotboost/">Dotboost</a>
            <a href="https://docs.dotkernel.org/headless-documentation/">Architecture</a>
            <a href="https://www.dotkernel.com/dotkernel-packages-oss-lifecycle/">Packages Lifecycle</a>
            <a href="https://docs.dotkernel.org/development/">WSL2 Dev Stack</a>
        </div>
        <div class="dk-home-footer__col">
            <div class="dk-home-footer__label">More</div>
            <a href="https://www.dotkernel.com/">Categories</a>
            <a href="https://www.dotkernel.com/blog/">Blog</a>
            <a href="https://github.com/orgs/dotkernel/discussions">Discussion</a>
            <a href="https://www.dotkernel.com/about/">About</a>
            <a href="https://www.dotkernel.com/contact/">Contact us</a>
        </div>
        <div class="dk-home-footer__col">
            <div class="dk-home-footer__label">Follow</div>
            <a href="https://github.com/dotkernel" target="_blank">GitHub</a>
            <a href="https://www.dotkernel.com/feed/" target="_blank">Dotkernel RSS Feed</a>
            <div class="dk-home-footer__note">Open-source tooling supported by JetBrains.</div>
        </div>
    </div>

    <div class="dk-home-footer__bottom">
        <img src="https://docs.dotkernel.org/img/dk_logo_2024_white.svg" alt="Dotkernel" width="112" height="21" style="opacity:.75" />
        <div class="dk-home-footer__tagline">Built with Mezzio, Laminas &amp; Doctrine &mdash; for PHP developers, by PHP developers. The Laminas logo is copyright of the Laminas Foundation.</div>
        <div class="flex-grow-1"></div>
        <div class="dk-home-footer__copyright">&#169; Copyright Dotkernel <span id="current-year"></span>. All rights reserved.</div>
    </div>
</footer>
