<nav class="navbar navbar-expand-lg bg-body-tertiary bg-light dk-nav py-3" data-bs-theme="light">
    <div class="container justify-content-between">
        <div class="dk-nav-icon d-flex align-items-center">
            <a class="navbar-brand" href="#">
                <img src="../img/dk_logomark_white.svg" alt="Logo" width="45" height="50" class="d-inline-block align-text-top">
            </a>

            <div class="dk-nav-icon-items">
                <span style="font-size: 12px; line-height: 13px">DotKernel Documentation</span>
                <div class="dropdown" data-bs-theme="light">
                    <span class="fw-bold dropdown-toggle dk-pkg-name" data-bs-toggle="dropdown" aria-expanded="false">Packages</span>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item ">
                            <a href="https://docs.dotkernel.org/frontend/" target="_blank" class="nav-link d-flex gap-4 align-items-center">
                                <img src="../img/dk_logomark.svg" alt="DotKernel logo" width="45" height="50" class="d-inline-block align-text-top">
                                <div>
                                    <span class="fw-bold">Frontend</span>
                                    <p>DotKernel Frontend application</p>
                                </div>
                            </a>
                        </li>

                        <li class="dropdown-item ">
                            <a href="https://docs.dotkernel.org/admin/" target="_blank" class="nav-link d-flex gap-4 align-items-center">
                                <img src="../img/dk_logomark.svg" alt="DotKernel logo" width="45" height="50" class="d-inline-block align-text-top">
                                <div>
                                    <span class="fw-bold">Admin</span>
                                    <p>DotKernel Admin application</p>
                                </div>
                            </a>
                        </li>

                        <li class="dropdown-item ">
                            <a href="https://docs.dotkernel.org/api/" target="_blank" class="nav-link d-flex gap-4 align-items-center">
                                <img src="../img/dk_logomark.svg" alt="DotKernel logo" width="45" height="50" class="d-inline-block align-text-top">
                                <div>
                                    <span class="fw-bold">API</span>
                                    <p>DotKernel API</p>
                                </div>
                            </a>
                        </li>

                        <li class="dropdown-item ">
                            <a href="https://docs.dotkernel.org/packages/" target="_blank" class="nav-link d-flex gap-4 align-items-center">
                                <img src="../img/dk_logomark.svg" alt="DotKernel logo" width="45" height="50" class="d-inline-block align-text-top">
                                <div>
                                    <span class="fw-bold">Packages</span>
                                    <p>DotKernel packages</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="https://www.dotkernel.com/contact/" target="_blank" class="nav-link fw-bold text-white" aria-current="page">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold text-white" href="{{ config.repo_url }}" target="_blank" title="Go to {{ config.site_name }} repository">
                        <i class="bi bi-github"></i>
                        GitHub
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
