<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if config.site_description %}
        <meta name="description" content="{{ config.site_description|striptags }}">
        {% endif %}
        {% if config.site_author %}
        <meta name="author" content="{{ config.site_author }}">
        {% endif %}

        {% set version = 'latest' %}
        {% if config.extra.current_version != Undefined %}
            {% set version = config.extra.current_version|replace('v', '') + '.0.0,latest' %}
        {% endif %}
        <meta name="docsearch:version" content="{{ version }}">
        <meta name="docsearch:language" content="en">
        <meta name="docsearch:component" content="{{ config.site_name }}">

        <meta property="og:title"        content="Dotkernel Documentation"/>
        <meta property="og:description"  content="Official Dotkernel documentation covering APIs, Admin, Queue, developer tools, packages, and modern PHP application development"/>
        <meta property="og:image"        content="https://docs.dotkernel.org/img/open-graph/twitter-card-docs.png"/>
        <meta property="og:type"         content="website"/>
        <meta property="og:site_name"    content="Dotkernel Documentation"/>
        <meta property="og:url"          content="https://docs.dotkernel.org/"/>
        <meta property="og:locale"       content="en_US"/>
        <meta name="twitter:card"        content="summary_large_image"/>
        <meta name="twitter:site"        content="@dotkernel"/>
        <meta name="twitter:title"       content="Dotkernel Documentation"/>
        <meta name="twitter:description" content="Official Dotkernel documentation covering APIs, Admin, Queue, developer tools, packages, and modern PHP application development"/>
        <meta name="twitter:image"       content="https://docs.dotkernel.org/img/open-graph/twitter-card-docs.png"/>

        {% if page.canonical_url %}
        <link rel="canonical" href="{{ page.canonical_url }}">
        {% endif %}
        <link rel="shortcut icon" href="{{ config.extra.base_url }}img/dk_docs_favicon_white.svg">

        <title>{% if page.title and page.title != 'Home' %}{{ page.title }} - {% endif %}{{ config.site_name }} - Dotkernel Documentation</title>

        <link rel="stylesheet" href="{{ config.extra.base_url }}css/bootstrap.css">
        <link rel="stylesheet" href="{{ config.extra.base_url }}css/bootstrap-icons.min.css">
        <link rel="stylesheet" href="{{ config.extra.base_url }}css/docs.css">
        <script src="{{ config.extra.base_url }}js/bootstrap.js" defer></script>
        <script src="{{ config.extra.base_url }}js/docs.js" defer></script>
        <script src="{{ config.extra.base_url }}js/scripts.js" defer></script>
    </head>
    <body data-bs-spy="scroll" data-bs-target=".toc" data-bs-offset="100">

        {# Navigation #}
        {% include "partials/navbar.html" %}

        {# Content #}
        <div class="container-fluid docs-shell">
            <div class="row gx-0">
                <div class="col-lg-3 col-xl-2 right_sidebar">
                    {% if config.site_name != 'Documentation' %}
                    {% include "partials/subnavigation.html" %}
                    {% endif %}
                </div>
                <div class="col-lg-9 col-xl-8 main_docs">
                    {# Breadcrumbs #}
                    {% include "partials/breadcrumb.html" %}

                    {% block content %}
                    {% include "partials/content.html" %}
                    {% endblock %}
                </div>

                {# Table of contents #}
                {% if not page.is_homepage or config.extra.show_special_homepage %}
                <div class="col-xl-2 d-none d-xl-block page_toc">
                    {% include "partials/toc.html" %}
                </div>
                {% endif %}
            </div>
        </div>

        {# Footer #}
        {% include "partials/footer.html" %}

        <script>
            let base_url = '{{ base_url }}',
                project  = "{{ config.extra.project|lower|replace(' ', '-') }}",
                siteName = '{{ config.site_name }}';

                document.addEventListener("DOMContentLoaded", function() {
                    document.querySelectorAll('.subnavigation__link').forEach(function(link) {
                        if (link.getAttribute('href') === './') {
                            link.parentNode.parentNode.classList.add('show');
                        }
                    });
                });
        </script>
        {# Search modal #}
        {% include "partials/search-modal.html" %}
    </body>
</html>
{% if page and page.is_homepage %}
<!--
MkDocs version : {{ mkdocs_version }}
Build Date UTC : {{ build_date_utc }}
-->
{% endif %}
